/* Diseño en moviles */

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}



header {
    background-color: rgb(40, 40, 40);
    color: #ffffff;
    padding: 2%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

.logovictor {
    border-radius: 10%;
    width: 12%;
}

.opciones_filtros {
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.opciones_filtros h3 {
    text-align: center;
}

.filtrosh3 {
    font-size: 2.75vw;
}

.mostrar_todo {
    text-align: center;
    font-size: 2.75vw;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #000000;
    border-style: groove;
    border-radius: 3px;
    background-color: #444444;
    padding: 2%;
    box-shadow: 5px 5px 10px rgba(129, 129, 129, 0.6);
    transition: box-shadow 0.8s ease;
    text-decoration: none;

}

.mostrar_todo:hover {
    box-shadow: 8px 8px 15px rgba(255, 255, 255, 0.4);
    transform: translate(2px, -2px);
    color: white;
}

.filtro {
    background-color: rgb(66, 66, 66);
    padding: 2vw;
    height: 1%;
    margin: 0 auto;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.filtro a {
    text-decoration: none;
    background-color: rgb(78, 78, 78);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 1px;
    padding: 8px;
    border: 4px solid #000000;
    border-style: groove;
    border-radius: 10px;
    display: block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

.filtro a:hover {
    box-shadow: 8px 8px 15px rgb(182, 182, 182);
    color: rgb(255, 255, 255);
    transform: translate(2px, -2px);

}


.tareas_opciones {
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.tareas_opciones h3 {
    border: 4px solid #444444;
    border-style: groove;
    border-radius: 5px;
    text-align: center;
}


.tareas_pendientes {
    margin-top: 3%;
    font-size: 2.75vw;
    text-align: center;
}

main {
    padding: 3%;
    background-color: rgb(66, 66, 66);

}

.asignatura {
    margin-top: 5%;
}

.tareas-seccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 90%;
    padding: 5%;
}

.cajita_opciones_tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cajita_opciones_tarjeta input[type="checkbox"] {
    margin-right: 5px;
}
.tareas-seccion h3 {
    font-size: 2vw;
    font-weight: bold;
    color: #000000;
    padding: 5%;
}

.fecha {
    font-size: 1.75vw;
    font-weight: bold;
    color: #000000;
    text-align: right;
}

.tarea {
    text-align: justify;
    font-size: 1.65vw;
    font-weight: bold;
    border: 1px solid #000000;
    border-style: groove;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

.tarea:hover {
    box-shadow: 8px 8px 15px rgba(235, 235, 235, 0.4);
    transform: translate(2px, -2px);
}

.caractarea {
    display: flex;
    justify-content: space-between;
}

.tareasDWES .tarea {
    border: 2px solid rgba(144, 238, 144, 0.7);
    border-radius: 10px;
}

.tareasDWES .tarea h3 {
    color: #000000;
    font-size: 2.15vw;
    padding: 1vw;
    font-weight: bold;

}

.caracdwes {
    color: #ffffff;
    background-color: rgb(144, 238, 144);
    font-size: 2.35vw;
    padding: 0.65vw;
    font-weight: bold;
    border-radius: 10px;
}

.tareasDWEC .tarea {
    border: 2px solid rgba(173, 216, 230, 0.7);
    border-radius: 10px;
}

.caracdwec {
    color: #ffffff;
    background-color: rgb(173, 216, 230);
    font-size: 2.35vw;
    padding: 0.65vw;
    font-weight: bold;
    border-radius: 10px;
}

.tareasDWEC .tarea h3 {
    color: #000000;
    font-size: 2.15vw;
    padding: 1vw;
    font-weight: bold;
}

.tareasDIWEB .tarea {
    border: 2px solid rgba(255, 192, 203, 0.7);
    border-radius: 10px;
}

.caracdiweb {
    color: #ffffff;
    background-color: rgb(255, 192, 203);
    font-size: 2.35vw;
    padding: 0.65vw;
    font-weight: bold;
    border-radius: 10px;
}

.tareasDIWEB .tarea h3 {
    color: #000000;
    font-size: 2.15vw;
    padding: 1vw;
    font-weight: bold;
}

.tareasHLC .tarea {
    border: 2px solid rgba(0, 0, 139, 0.3);
    border-radius: 10px;
}

.carachlc {
    color: #ffffff;
    background-color: rgba(0, 0, 139, 0.38);
    font-size: 2.35vw;
    padding: 0.65vw;
    font-weight: bold;
    border-radius: 10px;
}

.tareasHLC .tarea h3 {
    color: #000000;
    font-size: 2.15vw;
    padding: 1vw;
    font-weight: bold;
}

.tareasEMP .tarea {
    border: 2px solid rgba(255, 165, 0, 0.5);
    border-radius: 10px;
}

.caracemp {
    color: #ffffff;
    background-color: rgba(255, 166, 0, 0.65);
    font-size: 2.35vw;
    padding: 0.65vw;
    font-weight: bold;
    border-radius: 10px;
}

.tareasEMP .tarea h3 {
    color: #000000;
    font-size: 2.15vw;
    padding: 1vw;
    font-weight: bold;
}

.tareasDAWEB .tarea {
    border: 2px solid rgba(216, 191, 216, 0.6);
    border-radius: 10px;
}

.caracdaweb {
    color: #ffffff;
    background-color: rgb(216, 191, 216);
    font-size: 2.35vw;
    padding: 0.65vw;
    font-weight: bold;
    border-radius: 10px;
}

.tareasDAWEB .tarea h3 {
    color: #000000;
    font-size: 2.15vw;
    padding: 1vw;
    font-weight: bold;
}


.cubo {
    width: 3vw;
    filter: contrast(0.5);
    align-items: end;
}

.ajustes {
    width: 3vw;
    filter: contrast(0.7);
}


footer {
    background-color: rgb(66, 66, 66);
    color: #ffffff;
    padding: 2%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}


footer a img {
    display: inline-block;
    width: 4vw;

}

.botonesopciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 60%;
    padding: 5%;
}








/* Diseño para ordenadores */
@media screen and (min-width: 1200px) {
    header {
        font-size: 1vw;
    }

    .logovictor {
        border-radius: 10%;
        width: 5%;
    }

    .opciones_filtros {
        padding: 1%;
        grid-gap: 80%;
    }

    .opciones_filtros h3 {
        font-size: 1vw;
        margin-left: 20%;

    }

    .mostrar_todo {
        font-size: 1vw;
        margin-right: 20%;


    }

    .mostrar_todo:hover {
        box-shadow: 8px 8px 15px rgba(255, 255, 255, 0.4);
        transform: translate(2px, -2px);
        color: white;
    }

    .filtro {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .tareas_opciones {
        grid-gap: 2%;
        padding: 1%;
    }

    .tareas_pendientes {
        font-size: 1.5vw;
        margin-left: 50%;
    }

    .anadirtarea {
        font-size: 1vw;
        margin-right: 50%;
    }

    main {
        padding: 1%;
    }


    .tareas-seccion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 0 auto;
        width: 90%;
        padding: 5%;
    }

    .cajita_opciones_tarjeta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        padding: 5%;
    }

    .tarea {
        font-size: 0.85vw;
    }

    .tareasDWES .tarea h3 {
        font-size: 1vw;

    }

    .tareasDWEC .tarea h3 {
        font-size: 1vw;
    }

    .tareasDIWEB .tarea h3 {
        font-size: 1vw;
    }

    .tareasHLC .tarea h3 {
        font-size: 1vw;
    }

    .tareasEMP .tarea h3 {
        font-size: 1vw;
    }

    .tareasDAWEB .tarea h3 {
        font-size: 1vw;
    }

    .caracdwes {
        font-size: 1.2vw;
    }

    .caracdwec {
        font-size: 1.2vw;
    }

    .caracdiweb {
        font-size: 1.2vw;
    }

    .carachlc {
        font-size: 1.2vw;
    }

    .caracemp {
        font-size: 1.2vw;
    }

    .caracdaweb {
        font-size: 1.2vw;
    }

    .fecha {
        font-size: 1vw;
    }

    .cubo {
        width: 2vw;
        filter: contrast(0.5);
    }

    .ajustes {
        width: 2vw;
        filter: contrast(0.7);
    }


    footer {
        font-size: 0.75vw;
    }


    footer a img {
        width: 2vw;

    }

    .botonesopciones {
        width: 30%;
    }
}